<a href="sign-out">Sign out</a>||
<a href="user_home">Profile</a>||
<a href="new_post">Wright A Post</a>||
<a href="all_posts"> All Posts </a>||
<a href="all_users">Find Friends</a>||
<a href="edit">Edit Profile</a>||<br>
<h1>PROFILE PAGE</h1>
<h1><%= @user.fname %> <%= @user.lname %></h1><br>

<div>
	<h2>Posts:</h2>
	<% @user.posts.each do |post| %>
		<h5><%= post.title %></h5><br>
		<p><%= post.message %></p><br>
		<a href="/edit_post/<%= post.id %>">Edit </a>||
		<a href="/delete_post/<%= post.id %>">Delete</a>
	<% end %>
</div>


